# Database
DATABASE_URL="mongodb://localhost:27017/your_database_name"

# NextAuth (opcional, para autenticação mais avançada)
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Outras variáveis de ambiente que você possa precisar
NODE_ENV="development"
